<div id="login" class="append-9 span-6 prepend-5 last">
  <form action="/login" method="post">
    <div class="login_label">
      <label for="login">Login:</label>
    </div>
    <input type="text" size="21" name="login" value="">
    <br />
    <div class="login_label">
      <label for="password">Password:</label>
    </div>
    <input type="text" size="21" name="password" value="">
    <br />
    <div class="login_submit">
      <input type="submit" name="save" value="submit" />
    </div>
  </form>
</div>

