<%= @content.body %>

<form action="/modules/feedback" method="post">
  <p>
    subject:
    <input type="text" size="30" name="feedback[subject]" value="">
  </p>
  <p>
    your email:
    <input type="text" size="30" name="feedback[email]" value="">
  </p>
  <p>
    <textarea name="feedback[body]" cols="50" rows="15"></textarea>
  </p>
  <input type="submit" name="send" value="submit" />
</form>

